<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-account-info-personal-accounting-heading" jhiTranslate="personalAccountingApp.accountInfo.home.createOrEditLabel">Create or edit a Account Info</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="personalAccountingApp.accountInfo.concept" for="field_concept">Concept</label>
                    <input type="text" class="form-control" name="concept" id="field_concept"
                           formControlName="concept"/>
                    <div *ngIf="editForm.get('concept')!.invalid && (editForm.get('concept')!.dirty || editForm.get('concept')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('concept')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="personalAccountingApp.accountInfo.userId" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                           formControlName="userId"/>
                    <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('userId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('userId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="personalAccountingApp.accountInfo.startingDate" for="field_startingDate">Starting Date</label>
                    <div class="input-group">
                        <input id="field_startingDate" type="text" class="form-control" name="startingDate" ngbDatepicker #startingDateDp="ngbDatepicker" formControlName="startingDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startingDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('startingDate')!.invalid && (editForm.get('startingDate')!.dirty || editForm.get('startingDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startingDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="personalAccountingApp.accountInfo.endingDate" for="field_endingDate">Ending Date</label>
                    <div class="input-group">
                        <input id="field_endingDate" type="text" class="form-control" name="endingDate" ngbDatepicker #endingDateDp="ngbDatepicker" formControlName="endingDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endingDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="personalAccountingApp.accountInfo.type" for="field_type">Type</label>
                    <select class="form-control" id="field_type" name="type" formControlName="typeId">
                        <option *ngIf="!editForm.get('typeId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="accountInfoTypeOption.id" *ngFor="let accountInfoTypeOption of accountinfotypes; trackBy: trackById">{{ accountInfoTypeOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('typeId')!.invalid && (editForm.get('typeId')!.dirty || editForm.get('typeId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('typeId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
