<form class="form" role="form" (ngSubmit)="executeForecast()" [formGroup]="filterForm">
  <div class="row pb-2">
    <div class="col-md-4 form-group">
        <label class="form-control-label" jhiTranslate="personalAccountingApp.forecast.form.filter.from" for="fromDate">From Date</label>
        <div class="input-group">
            <input id="fromDate" type="text" class="form-control" name="fromDate" ngbDatepicker #fromDate="ngbDatepicker" formControlName="fromDate"/>
            <span class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="fromDate.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
        </div>
        <div *ngIf="filterForm.get('fromDate')!.invalid && (filterForm.get('fromDate')!.dirty || filterForm.get('fromDate')!.touched)">
            <small class="form-text text-danger"
                   *ngIf="filterForm.get('fromDate')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
            </small>
        </div>
    </div>

    <div class="col-md-4 form-group">
        <label class="form-control-label" jhiTranslate="personalAccountingApp.forecast.form.filter.to" for="toDate">To Date</label>
        <div class="input-group">
            <input id="toDate" type="text" class="form-control" name="toDate" ngbDatepicker #toDate="ngbDatepicker" formControlName="toDate"/>
            <span class="input-group-append">
                <button type="button" class="btn btn-secondary" (click)="toDate.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
        </div>
        <div *ngIf="filterForm.get('toDate')!.invalid && (filterForm.get('toDate')!.dirty || filterForm.get('toDate')!.touched)">
            <small class="form-text text-danger"
                   *ngIf="filterForm.get('toDate')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
            </small>
        </div>
    </div>

    <div class="col-md-4">
      <button type="submit" class="btn btn-primary" jhiTranslate="entity.action.filter">Filter</button>
    </div>
  </div>
</form>
<div class="table-responsive" id="entities" *ngIf="forecasts$ | async ; let forecasts">
  <table class="table" aria-describedby="page-heading">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><span jhiTranslate="personalAccountingApp.eventInfo.name">Name</span>
        </th>
        <th scope="col"><span jhiTranslate="personalAccountingApp.forecast.date">Date</span>
        </th>
        <th scope="col"><span jhiTranslate="personalAccountingApp.eventInfo.amountType">Amount
            Type</span>
        </th>
        <th scope="col"><span jhiTranslate="personalAccountingApp.forecast.totalAmount">Total
            Amount</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts;">
        <td>
          <fa-icon icon="{{ forecast.icon }}"></fa-icon>
          <fa-icon icon="square" [ngStyle]="{'color': forecast.colour}"></fa-icon>
        </td>
        <td>{{ forecast.name }}</td>
        <td>{{ forecast.date | date:'mediumDate' }}</td>
        <td jhiTranslate="{{ 'personalAccountingApp.AmountType.' + forecast.eventInfo.amountType }}">
          {{ forecast.amountType }}
        </td>
        <td><span class="amount">{{ forecast.totalAmount | currency:'EUR':'symbol' }}</span> (<span class="amountDifference">{{ forecast.amountDifference | currency:'EUR':'symbol' }}</span> <fa-icon *ngIf="forecast.amountDifference > 0" icon="long-arrow-alt-up" [ngStyle]="{'color': '#28de28'}"></fa-icon><fa-icon *ngIf="forecast.amountDifference < 0" icon="long-arrow-alt-down" [ngStyle]="{'color': '#de2828'}"></fa-icon>)</span></td>
      </tr>
    </tbody>
  </table>
</div>