<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="eventInfoType">
            <h2><span jhiTranslate="personalAccountingApp.eventInfoType.detail.title">Event Info Type</span> {{ eventInfoType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="personalAccountingApp.eventInfoType.name">Name</span></dt>
                <dd>
                    <span>{{ eventInfoType.name }}</span>
                </dd>
                <dt><span jhiTranslate="personalAccountingApp.eventInfoType.icon">Icon</span></dt>
                <dd>
                    <span>{{ eventInfoType.icon }}</span>
                </dd>
                <dt><span jhiTranslate="personalAccountingApp.eventInfoType.user">User</span></dt>
                <dd>
                    {{ eventInfoType.userId }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/event-info-type', eventInfoType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
