<div>
    <h2 id="page-heading">
        <span jhiTranslate="personalAccountingApp.eventInfoType.home.title">Event Info Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event-info-type" [routerLink]="['/event-info-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="personalAccountingApp.eventInfoType.home.createLabel">
            Create a new Event Info Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="eventInfoTypes?.length === 0">
        <span jhiTranslate="personalAccountingApp.eventInfoType.home.notFound">No eventInfoTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="eventInfoTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="personalAccountingApp.eventInfoType.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="icon"><span jhiTranslate="personalAccountingApp.eventInfoType.icon">Icon</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userId"><span jhiTranslate="personalAccountingApp.eventInfoType.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let eventInfoType of eventInfoTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/event-info-type', eventInfoType.id, 'view']">{{ eventInfoType.id }}</a></td>
                    <td>{{ eventInfoType.name }}</td>
                    <td>{{ eventInfoType.icon }}</td>
                    <td>
                        {{ eventInfoType.userId }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/event-info-type', eventInfoType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/event-info-type', eventInfoType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(eventInfoType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
