<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accountInfoType">
            <h2><span jhiTranslate="personalAccountingApp.accountInfoType.detail.title">Account Info Type</span> {{ accountInfoType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="personalAccountingApp.accountInfoType.name">Name</span></dt>
                <dd>
                    <span>{{ accountInfoType.name }}</span>
                </dd>
                <dt><span jhiTranslate="personalAccountingApp.accountInfoType.userId">User Id</span></dt>
                <dd>
                    <span>{{ accountInfoType.userId }}</span>
                </dd>
                <dt><span jhiTranslate="personalAccountingApp.accountInfoType.cron">Cron</span></dt>
                <dd>
                    <span>{{ accountInfoType.cron }}</span>
                </dd>
                <dt><span jhiTranslate="personalAccountingApp.accountInfoType.isOneTime">Is One Time</span></dt>
                <dd>
                    <span>{{ accountInfoType.isOneTime }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/account-info-type-personal-accounting', accountInfoType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
